<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fanzania.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>262CE579E6217F32D687DE68F6133E541906699A</string>
				<key>dateExpires</key>
				<string>16/11/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>262CE579E6217F32D687DE68F6133E541906699A</string>
						<key>dateExpires</key>
						<string>16/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3G4DK3FMA5</string>
						<key>name</key>
						<string>Rajib Das</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>262CE579E6217F32D687DE68F6133E541906699A</string>
						<key>dateExpires</key>
						<string>16/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3G4DK3FMA5</string>
						<key>name</key>
						<string>Rajib Das</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>262CE579E6217F32D687DE68F6133E541906699A</string>
						<key>dateExpires</key>
						<string>16/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3G4DK3FMA5</string>
						<key>name</key>
						<string>Rajib Das</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>262CE579E6217F32D687DE68F6133E541906699A</string>
						<key>dateExpires</key>
						<string>16/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3G4DK3FMA5</string>
						<key>name</key>
						<string>Rajib Das</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>262CE579E6217F32D687DE68F6133E541906699A</string>
						<key>dateExpires</key>
						<string>16/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3G4DK3FMA5</string>
						<key>name</key>
						<string>Rajib Das</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>262CE579E6217F32D687DE68F6133E541906699A</string>
						<key>dateExpires</key>
						<string>16/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3G4DK3FMA5</string>
						<key>name</key>
						<string>Rajib Das</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>262CE579E6217F32D687DE68F6133E541906699A</string>
						<key>dateExpires</key>
						<string>16/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3G4DK3FMA5</string>
						<key>name</key>
						<string>Rajib Das</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>262CE579E6217F32D687DE68F6133E541906699A</string>
						<key>dateExpires</key>
						<string>16/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3G4DK3FMA5</string>
						<key>name</key>
						<string>Rajib Das</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>262CE579E6217F32D687DE68F6133E541906699A</string>
						<key>dateExpires</key>
						<string>16/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3G4DK3FMA5</string>
						<key>name</key>
						<string>Rajib Das</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>262CE579E6217F32D687DE68F6133E541906699A</string>
						<key>dateExpires</key>
						<string>16/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3G4DK3FMA5</string>
						<key>name</key>
						<string>Rajib Das</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>262CE579E6217F32D687DE68F6133E541906699A</string>
						<key>dateExpires</key>
						<string>16/11/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSONModel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3G4DK3FMA5</string>
						<key>name</key>
						<string>Rajib Das</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3G4DK3FMA5.com.yorker.fanzania</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3G4DK3FMA5</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3G4DK3FMA5.com.yorker.fanzania</string>
				</array>
			</dict>
			<key>name</key>
			<string>Fanzania.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2cd232cb-abc2-4de5-aee1-a7fa96ea5483</string>
				<key>name</key>
				<string>FANZANIA AD HOC DISTRIBUTION PROFILE</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3G4DK3FMA5</string>
				<key>name</key>
				<string>Rajib Das</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
