<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="EnvCode" value="DEV" />
    <add key="ProfileImageFilePath" value="C:/fanzania/image/users/" />
    <add key="PlayerImageFilePath" value="C:/fanzania/image/cricket/players/" />
    <add key="TournamentImageFilePath" value="C:/fanzania/image/cricket/tournaments/" />
    <add key="EmailTemplatePath" value="C:/fanzania/emailtemplate/" />
    <add key="ApplicationName" value="FantasyCricket" />
    <add key="TokenValidation" value="false" />
    <add key="SMTPSERVER" value="smtp.gmail.com" />
    <add key="SMTPPORT" value="587" />
    <add key="EmailUser" value="cs.fanzania@gmail.com" />
    <add key="EmailUserPassword" value="Pass@123" />
    <add key="FromEmail" value="cs.fanzania@gmail.com" />
    <add key="SQLConnectionTimeout" value="600" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="lpl:cors:Enabled" value="true" />
    <add key="lpl:cors:AllowOrigins" value="*" />
    <!-- The following are set to true because this is a REST service that is running in the APP tier -->
    <add key="lpl:overrides:BypassAllAuthenticationChecks" value="true" />
    <add key="lpl:overrides:BypassAllXsrfChecks" value="true" />
    <add key="lpl:overrides:IncludeDetailedErrorsInJsonResponse" value="true" />
    <add key="lpl:overrides:DeveloperMode" value="true" />
    <add key="APIBaseUrl" value="http://cricapi.com" />
    <add key="APIPlayerFinder" value="/api/playerFinder" />
    <add key="APIMatchDetails" value="/api/matches" />
    <add key="APIKey" value="amaf7LLSWhNqYz7J4aNA6RGNhmr2" />
  </appSettings>
  <connectionStrings>
    <add name="FANTASYCRICKET" connectionString="Data Source=fantasycricket.ccmegberpacg.ap-south-1.rds.amazonaws.com;Initial Catalog=FANTASYCRICKET;User Id=fcricketuser;Password=Fantasycri!cket;Application Name='FantasyCricket';" />
    <add name="FANTASYCRICKETMYSQL" connectionString="SERVER=localhost:3306;DATABASE=FANTASYCRICKET;UID=admin;PASSWORD=admin123;" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--<validation validateIntegratedModeConfiguration="true"/>
    <modules runAllManagedModulesForAllRequests="true"/>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime />
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="AdoNetAppender4Audit" />
      <appender-ref ref="AdoNetAppender4Exception" />
    </root>
    <logger name="Common.Logger.CommonLogger" additivity="false">
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="AdoNetAppender4Audit" />
    </logger>
    <logger name="ExceptionLogger" additivity="false">
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="AdoNetAppender4Exception" />
    </logger>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <bufferSize value="1" />
      <param name="File" value="C:\FantasyLogs\FantasyCricket.RestAPI.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="AdoNetAppender4Audit" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=fantasycricket.ccmegberpacg.ap-south-1.rds.amazonaws.com;Initial Catalog=FANTASYCRICKET;User Id=fcricketuser;Password=Fantasycri!cket;Application Name='FantasyCricket';" providerName="System.Data.SqlClient" />
      <commandText value="InsertAudit" />
      <commandType value="StoredProcedure" />
      <!--<commandText value="INSERT INTO [dbo].[Audit](EnvCode,ProductName,APIName,FileName,LoginUser,HostName,TransactionId,TransactionType,Status,Message,Payload,LogTimeStamp)  VALUES(@envCode,@productName,@apiName,@fileName,@loginUser,@hostName,@transactionId,@transactionType,@status,@message,@payload,GETDATE());" />-->
      <parameter>
        <parameterName value="@envCode" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="envCode" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@productName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="productName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@apiName" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="apiName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@fileName" />
        <dbType value="String" />
        <size value="256" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="fileName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@loginUser" />
        <dbType value="String" />
        <size value="200" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="loginUser" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@hostName" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="hostName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@transactionId" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="transactionId" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@transactionType" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="transactionType" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@status" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="status" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="200" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@payload" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="payload" />
        </layout>
      </parameter>
    </appender>
    <appender name="AdoNetAppender4Exception" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=fantasycricket.ccmegberpacg.ap-south-1.rds.amazonaws.com;Initial Catalog=FANTASYCRICKET;User Id=fcricketuser;Password=Fantasycri!cket;Application Name='FantasyCricket';" providerName="System.Data.SqlClient" />
      <commandText value="InsertException" />
      <commandType value="StoredProcedure" />
      <parameter>
        <parameterName value="@envCode" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="envCode" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@productName" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="productName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@apiName" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="apiName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@fileName" />
        <dbType value="String" />
        <size value="256" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="fileName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@loginUser" />
        <dbType value="String" />
        <size value="200" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="loginUser" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@hostName" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="hostName" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@transactionId" />
        <dbType value="String" />
        <size value="100" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="transactionId" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@transactionType" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="transactionType" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@errorCode" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="errorCode" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@errorMessage" />
        <dbType value="String" />
        <size value="500" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="errorMessage" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@stackTrace" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="stackTrace" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@payload" />
        <dbType value="String" />
        <size value="-1" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="payload" />
        </layout>
      </parameter>
    </appender>
  </log4net>
</configuration>
<!--ProjectGuid: 0B16EF6C-2872-4C5D-8F44-B567C29E4160-->