<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.yorker.fanzania</key>
		<string>FANZANIA AD HOC DISTRIBUTION PROFILE</string>
	</dict>
	<key>signingCertificate</key>
	<string>262CE579E6217F32D687DE68F6133E541906699A</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>3G4DK3FMA5</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
