<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="EnvCode" value="PRODUCTION"/>
    <add key="RegEncryptionKey" value="amaf7LLSWhN@#r5!*"/>
    <add key="ProfileImageFilePath" value="\\ImagePath\\image\\users\\"/>
    <add key="PlayerImageFilePath" value="\\ImagePath\\image\\cricket\\players\\"/>
    <add key="TournamentImageFilePath" value="\\ImagePath\\image\\cricket\\tournaments\\"/>
    <add key="EmailTemplatePath" value="\\ImagePath\\emailtemplate\\"/>
    <add key="ApplicationName" value="FantasyCricket"/>
    <add key="TokenValidation" value="false"/>
    <!--add key="SMTPSERVER" value="smtpout.secureserver.net" />
    <add key="SMTPPORT" value="80" />
    <add key="EmailUser" value="hello@fanzania.com" />
    <add key="EmailUserPassword" value="H4lloF@nzan!a" /-->
    <add key="SMTPSERVER" value="in-v3.mailjet.com"/>
    <add key="SMTPPORT" value="587"/>
    <add key="EmailUser" value="a7f673b72767440e60417e42c1a8ef5d"/>
    <add key="EmailUserPassword" value="5703185203055833b0ec37c42925d760"/>
    <add key="FromEmail" value="support@fanzania.com"/>
    <add key="FeedBackEmail" value="dev.fanzania@gmail.com"/>
    <add key="SQLConnectionTimeout" value="600"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="lpl:cors:Enabled" value="true"/>
    <add key="lpl:cors:AllowOrigins" value="*"/>
    <!-- The following are set to true because this is a REST service that is running in the APP tier -->
    <add key="lpl:overrides:BypassAllAuthenticationChecks" value="true"/>
    <add key="lpl:overrides:BypassAllXsrfChecks" value="true"/>
    <add key="lpl:overrides:IncludeDetailedErrorsInJsonResponse" value="true"/>
    <add key="lpl:overrides:DeveloperMode" value="true"/>
    <add key="APIBaseUrl" value="https://api.sports.roanuz.com/v5"/>
    <add key="APIPlayerFinder" value="/api/playerFinder"/>
    <add key="APIMatchDetails" value="/api/matches"/>
    <add key="APIKey" value="RS5:c4f69849763ad002c85edaec5dd69dff"/>
    <add key="project_key" value="RS_P_1422019789852905576"/>
    <add key="AdminPass" value="Fan@admin0!"/>
    <add key="BRONZE" value="0"/>
    <add key="SILVER" value="5000"/>
    <add key="GOLD" value="10000"/>
    <add key="PLATINUM" value="15000"/>
    <add key="StartMatchEmail" value="das.rajibdas@gmail.com,neeraj.sinha@yahoo.com,guruprasadpoojari@gmail.com,sam@bloodtools.com,jattin@gmail.com"/>
    <add key="RapidBaseUrl" value="https://dev132-cricket-live-scores-v1.p.rapidapi.com"/>
    <add key="MatchSeriesUrl" value="/matchseries.php"/>
    <add key="RapidapiHost" value="dev132-cricket-live-scores-v1.p.rapidapi.com"/>
    <add key="RapidapiKey" value="fd78f1aaa0msh481443df6cc74ccp1708e0jsneec33b9b6841"/>
    <add key="TeamSeriesUrl" value="/seriesteams.php"/>
    <add key="TeamPlayersUrl" value="/teamplayers.php"/>
    <add key="PhoneVerificationUrl" value="https://2factor.in/API/V1/426ebc41-822a-11eb-a9bc-0200cd936042"/>
    <add key="SendOTP" value="yes"/>
    <add key="RPUrl" value="https://api.razorpay.com/v1"/>
    <add key="RPCreateContacts" value="/contacts"/>
    <add key="RPCreateFundAccount" value="/fund_accounts"/>
    <add key="RPCreatePayouts" value="/payouts"/>
    <add key="fanzania_account" value="4564565062814131"/>
    <add key="test_fanzania_account" value="2323230081595174"/>
    <add key="PlayersbyMatchUrl" value="/playersbymatch.php"/>
    <add key="CurrentTournamentName" value="BBL2021"/>
  </appSettings>
  <connectionStrings>
    <add name="FANTASYCRICKET" connectionString="Data Source=fanzania.database.windows.net;Initial Catalog=FANTASYCRICKET;User Id=fcricketuser;Password=Fanzaniacri!cket;Application Name='FantasyCricket';Min Pool Size=10;Max Pool Size=150;Pooling=true;"/>
    <add name="FANTASYCRICKETMYSQL" connectionString="SERVER=localhost:3306;DATABASE=FANTASYCRICKET;UID=admin;PASSWORD=admin123;"/>
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <!--<validation validateIntegratedModeConfiguration="true"/> 
    <modules runAllManagedModulesForAllRequests="true"/>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime/>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="AdoNetAppender4Audit"/>
      <appender-ref ref="AdoNetAppender4Exception"/>
    </root>
    <logger name="Common.Logger.CommonLogger" additivity="false">
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="AdoNetAppender4Audit"/>
    </logger>
    <logger name="ExceptionLogger" additivity="false">
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="AdoNetAppender4Exception"/>
    </logger>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\FantasyLogs\FantasyCricket.WebAPI.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="2MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <appender name="AdoNetAppender4Audit" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Data Source=fanzania.database.windows.net;initial catalog=FANTASYCRICKET;User ID=fcricketuser;Password=Fanzaniacri!cket;Min Pool Size=10;Max Pool Size=150;Pooling=true;" providerName="System.Data.SqlClient"/>
      <commandText value="InsertAudit"/>
      <commandType value="StoredProcedure"/>
      <!--<commandText value="INSERT INTO [dbo].[Audit](EnvCode,ProductName,APIName,FileName,LoginUser,HostName,TransactionId,TransactionType,Status,Message,Payload,LogTimeStamp)  VALUES(@envCode,@productName,@apiName,@fileName,@loginUser,@hostName,@transactionId,@transactionType,@status,@message,@payload,GETDATE());" />!-->
      <parameter>
        <parameterName value="@envCode"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="envCode"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@productName"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="productName"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@apiName"/>
        <dbType value="String"/>
        <size value="500"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="apiName"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@fileName"/>
        <dbType value="String"/>
        <size value="256"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="fileName"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@loginUser"/>
        <dbType value="String"/>
        <size value="200"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="loginUser"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@hostName"/>
        <dbType value="String"/>
        <size value="100"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="hostName"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@transactionId"/>
        <dbType value="String"/>
        <size value="100"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="transactionId"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@transactionType"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="transactionType"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@status"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="status"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="200"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@payload"/>
        <dbType value="String"/>
        <size value="-1"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="payload"/>
        </layout>
      </parameter>
    </appender>
    <appender name="AdoNetAppender4Exception" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Data Source=fanzania.database.windows.net;initial catalog=FANTASYCRICKET;User ID=fcricketuser;Password=Fanzaniacri!cket;Min Pool Size=10;Max Pool Size=150;Pooling=true;" providerName="System.Data.SqlClient"/>
      <commandText value="InsertException"/>
      <commandType value="StoredProcedure"/>
      <parameter>
        <parameterName value="@envCode"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="envCode"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@productName"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="productName"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@apiName"/>
        <dbType value="String"/>
        <size value="500"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="apiName"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@fileName"/>
        <dbType value="String"/>
        <size value="256"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="fileName"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@loginUser"/>
        <dbType value="String"/>
        <size value="200"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="loginUser"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@hostName"/>
        <dbType value="String"/>
        <size value="100"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="hostName"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@transactionId"/>
        <dbType value="String"/>
        <size value="100"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="transactionId"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@transactionType"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="transactionType"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@errorCode"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="errorCode"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@errorMessage"/>
        <dbType value="String"/>
        <size value="500"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="errorMessage"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@stackTrace"/>
        <dbType value="String"/>
        <size value="-1"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="stackTrace"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@payload"/>
        <dbType value="String"/>
        <size value="-1"/>
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="payload"/>
        </layout>
      </parameter>
    </appender>
  </log4net>
</configuration>